--find-links=https://girder.github.io/large_image_wheels GDAL
# cartopy
folium
geemap
geopandas
fiona
jupyter-server-proxy
keplergl
leafmap
localtileserver
nbserverproxy
owslib
palettable
plotly
streamlit
streamlit-bokeh-events
streamlit-folium
streamlit-keplergl
tropycal
streamlit_plotly_events
calendar
warnings
ee
# git+https://github.com/giswqs/leafmap
# git+https://github.com/giswqs/geemap

